.image{
   height: 50px;
    width: 50px;
}
.card{
    display: flex;
    flex-direction: row;
}
.heading{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 40px;
    color: #1c6f8d;
    font-family: "Roboto";
    
}
.heading1{
    color: #ff7350;
    font-family:  sans-serif;
}
.graduation-cap{
    height: 70px;
    width: 50px;
    color: #ff7350;
    margin-left: 90px;
    margin-top: 8px;
}
.heading3{
    padding-left: 20px;
    margin-top: 23px;
    color: #ffffff;
    font-weight: none;
}
.admission-open{
    background-color: #ff7350;
    justify-content: center;
    height: 79px;
    width: 200px;
    margin-left: 20px;
}
.button-items{
     color:'var(--surface-900)';
}